# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_key import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities = pd.read_csv("../output_data/city.csv")

In [3]:
#My cities into a dataframe
cities_df = pd.DataFrame(cities)
cities_df

,Unnamed: 0,city,lat,lng,max_temp,humidity,cloudiness,wind_speed,country,date
0,0,Ushuaia,-54.80,-68.30,277.15,80,40,2.10,AR,1599241310
1,1,Puerto Ayora,-0.74,-90.35,297.15,60,20,7.20,EC,1599241311
2,2,Butaritari,3.07,172.79,301.22,69,7,2.44,KI,1599241312
3,3,Békéscsaba,46.68,21.10,292.04,57,0,2.53,HU,1599241177
4,4,Rikitea,-23.12,-134.97,295.46,82,48,6.95,PF,1599241315
...,...,...,...,...,...,...,...,...,...,...
542,542,Guadalupe y Calvo,26.10,-106.97,297.43,38,16,5.52,MX,1599242020
543,543,Ponta Delgada,37.73,-25.67,295.15,83,40,6.20,PT,1599242021
544,544,Gatton,-27.55,152.28,285.37,93,84,0.04,AU,1599242022
545,545,Mâncio Lima,-7.61,-72.90,306.15,63,40,2.10,BR,1599242023
546,546,Broken Hill,-31.95,141.43,284.15,53,0,1.37,AU,1599242025

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
#Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [5]:
#Store 'Lat' and 'Lng' into  locations 
locations = cities_df[["lat", "lng"]].astype(float)

#Converting Humidity to a float for weight on heatmap
humidity = cities_df["humidity"].astype(float)

In [6]:
#Creating humidity heat map
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False,
                                max_intensity=100,
                                point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
#My ideal weather 
my_cities = cities_df.loc[(cities_df["max_temp"]<288)&
                          (cities_df["max_temp"]>210)&
                          (cities_df["humidity"]>50)&
                          (cities_df["cloudiness"]<60)&
                          (cities_df["cloudiness"]>30)&
                          (cities_df["wind_speed"]<8)]
my_cities = my_cities.dropna()
my_cities_df = pd.DataFrame(my_cities)
my_cities_df

,Unnamed: 0,city,lat,lng,max_temp,humidity,cloudiness,wind_speed,country,date
0,0,Ushuaia,-54.80,-68.30,277.15,80,40,2.10,AR,1599241310
6,6,Esperance,-33.87,121.90,284.15,93,31,4.60,AU,1599241318
29,29,Mataura,-46.19,168.86,280.37,72,35,4.92,NZ,1599241347
40,40,Te Anau,-45.42,167.72,278.92,86,42,1.78,NZ,1599241361
52,52,Severo-Kuril'sk,50.68,156.12,282.86,82,34,2.70,RU,1599241377
83,83,Tiksi,71.69,128.87,281.50,81,57,4.03,RU,1599241417
118,118,Constitución,-35.33,-72.42,286.96,57,50,2.64,CL,1599241463
152,152,Bluff,-46.60,168.33,280.37,72,36,4.92,NZ,1599241509
236,236,Sørland,67.67,12.69,286.15,93,40,3.60,NO,1599241621
269,269,Flinders,-34.58,150.86,287.59,77,33,0.45,AU,1599241664
273,273,Provideniya,64.38,-173.30,277.63,72,40,1.73,RU,1599241669
303,303,Mount Gambier,-37.83,140.77,279.15,100,40,3.60,AU,1599241707
354,354,Kiama,-34.68,150.87,287.59,66,33,4.90,AU,1599241774
515,515,Semey,50.41,80.23,283.83,51,38,5.21,KZ,1599241984

In [8]:
#Cleaning the my cities df
my_cities_df = my_cities_df[['city',
                            'lat',
                            'lng',
                            'max_temp',
                            'humidity',
                            'cloudiness',
                            'wind_speed',
                            'country']]

my_cities_df = my_cities_df.reset_index(drop=True)
my_cities_df

,city,lat,lng,max_temp,humidity,cloudiness,wind_speed,country
0,Ushuaia,-54.80,-68.30,277.15,80,40,2.10,AR
1,Esperance,-33.87,121.90,284.15,93,31,4.60,AU
2,Mataura,-46.19,168.86,280.37,72,35,4.92,NZ
3,Te Anau,-45.42,167.72,278.92,86,42,1.78,NZ
4,Severo-Kuril'sk,50.68,156.12,282.86,82,34,2.70,RU
5,Tiksi,71.69,128.87,281.50,81,57,4.03,RU
6,Constitución,-35.33,-72.42,286.96,57,50,2.64,CL
7,Bluff,-46.60,168.33,280.37,72,36,4.92,NZ
8,Sørland,67.67,12.69,286.15,93,40,3.60,NO
9,Flinders,-34.58,150.86,287.59,77,33,0.45,AU
10,Provideniya,64.38,-173.30,277.63,72,40,1.73,RU
11,Mount Gambier,-37.83,140.77,279.15,100,40,3.60,AU
12,Kiama,-34.68,150.87,287.59,66,33,4.90,AU
13,Semey,50.41,80.23,283.83,51,38,5.21,KZ

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
#Changing variable for hotel map
hotel_df = my_cities_df
hotel_df

,city,lat,lng,max_temp,humidity,cloudiness,wind_speed,country
0,Ushuaia,-54.80,-68.30,277.15,80,40,2.10,AR
1,Esperance,-33.87,121.90,284.15,93,31,4.60,AU
2,Mataura,-46.19,168.86,280.37,72,35,4.92,NZ
3,Te Anau,-45.42,167.72,278.92,86,42,1.78,NZ
4,Severo-Kuril'sk,50.68,156.12,282.86,82,34,2.70,RU
5,Tiksi,71.69,128.87,281.50,81,57,4.03,RU
6,Constitución,-35.33,-72.42,286.96,57,50,2.64,CL
7,Bluff,-46.60,168.33,280.37,72,36,4.92,NZ
8,Sørland,67.67,12.69,286.15,93,40,3.60,NO
9,Flinders,-34.58,150.86,287.59,77,33,0.45,AU
10,Provideniya,64.38,-173.30,277.63,72,40,1.73,RU
11,Mount Gambier,-37.83,140.77,279.15,100,40,3.60,AU
12,Kiama,-34.68,150.87,287.59,66,33,4.90,AU
13,Semey,50.41,80.23,283.83,51,38,5.21,KZ

In [10]:
#Adding hotel column to hotel_df

hotel_df['hotel_name']=""
hotel_df

,city,lat,lng,max_temp,humidity,cloudiness,wind_speed,country,hotel_name
0,Ushuaia,-54.80,-68.30,277.15,80,40,2.10,AR,
1,Esperance,-33.87,121.90,284.15,93,31,4.60,AU,
2,Mataura,-46.19,168.86,280.37,72,35,4.92,NZ,
3,Te Anau,-45.42,167.72,278.92,86,42,1.78,NZ,
4,Severo-Kuril'sk,50.68,156.12,282.86,82,34,2.70,RU,
5,Tiksi,71.69,128.87,281.50,81,57,4.03,RU,
6,Constitución,-35.33,-72.42,286.96,57,50,2.64,CL,
7,Bluff,-46.60,168.33,280.37,72,36,4.92,NZ,
8,Sørland,67.67,12.69,286.15,93,40,3.60,NO,
9,Flinders,-34.58,150.86,287.59,77,33,0.45,AU,
10,Provideniya,64.38,-173.30,277.63,72,40,1.73,RU,
11,Mount Gambier,-37.83,140.77,279.15,100,40,3.60,AU,
12,Kiama,-34.68,150.87,287.59,66,33,4.90,AU,
13,Semey,50.41,80.23,283.83,51,38,5.21,KZ,

In [11]:
#Setting the parameters for the hotels and the loop through hotel_df for coordinates

params = {
    "radius":"5000",
    "types":"lodging",
    "key":g_key,
}

for index, row in hotel_df.iterrows():
    
    #get lat and lng for df
    lat = row['lat']
    lng = row['lng']
    
    #Changing the location with each iteration
    params["location"] = f"{lat},{lng}"
    
    #searching for the hotel by lat and lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #make request and print url 
    hotel_names = requests.get(base_url, params=params)
    
    #covert to json
    hotel_names = hotel_names.json()
    
    #adding to the hotel_df
    try:
        hotel_df.loc[index,"hotel_name"] = hotel_names["results"][0]['name']
    except (KeyError, IndexError):
        print("Missing.&.skip")

Missing.&.skip

In [12]:
hotel_df = pd.DataFrame(hotel_df)
hotel_df

,city,lat,lng,max_temp,humidity,cloudiness,wind_speed,country,hotel_name
0,Ushuaia,-54.80,-68.30,277.15,80,40,2.10,AR,Albatros Hotel
1,Esperance,-33.87,121.90,284.15,93,31,4.60,AU,Hospitality Esperance
2,Mataura,-46.19,168.86,280.37,72,35,4.92,NZ,Ellie's Villa
3,Te Anau,-45.42,167.72,278.92,86,42,1.78,NZ,Kingsgate Hotel Te Anau
4,Severo-Kuril'sk,50.68,156.12,282.86,82,34,2.70,RU,Kak Doma
5,Tiksi,71.69,128.87,281.50,81,57,4.03,RU,Arktika
6,Constitución,-35.33,-72.42,286.96,57,50,2.64,CL,Hotel Boutique Las Azucenas
7,Bluff,-46.60,168.33,280.37,72,36,4.92,NZ,Bluff Homestead - Guesthouse & Campervan Park
8,Sørland,67.67,12.69,286.15,93,40,3.60,NO,Sjybrygga fiskecamp
9,Flinders,-34.58,150.86,287.59,77,33,0.45,AU,Shellharbour Resort & Conference Centre
10,Provideniya,64.38,-173.30,277.63,72,40,1.73,RU,
11,Mount Gambier,-37.83,140.77,279.15,100,40,3.60,AU,Commodore on the Park
12,Kiama,-34.68,150.87,287.59,66,33,4.90,AU,The Sebel Kiama Harbourside
13,Semey,50.41,80.23,283.83,51,38,5.21,KZ,Hotel Zhana-Tau

In [27]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{hotel_name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
Locations = hotel_df[["lat", "lng"]]

In [35]:
hotel_layer = gmaps.symbol_layer(Locations, 
                                 fill_color='rgba(0, 150, 0, 0.4)',
                                 stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
                                 info_box_content=[f'{row}' for index, row in hotel_df.iterrows()])

In [36]:
# Add marker layer ontop of heat map
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))